@model WCAProject.ViewModels.ClientEditViewModel;

@{
    ViewData["Title"] = "Edit";
}

<h1>
    Edit Client @Html.DisplayFor(model => model.Client.ClientId)- @Html.DisplayFor(model => model.Client.cfirst) @Html.DisplayFor(model => model.Client.clast)
</h1>
<hr />
<form asp-action="Edit">
    <input type="hidden" asp-for="Client.ClientId" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row justify-content-between">
        <div class="col-md-12 rounded p-3 mb-2 table-active text-dark">
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <label asp-for="Client.cfirst" class="control-label"></label>
                    <input asp-for="Client.cfirst" class="form-control" />
                    <span asp-validation-for="Client.cfirst" class="text-danger"></span>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <label asp-for="Client.clast" class="control-label"></label>
                    <input asp-for="Client.clast" class="form-control" />
                    <span asp-validation-for="Client.clast" class="text-danger"></span>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <label asp-for="Client.dob" class="control-label"></label>
                    <input id="dob" asp-for="Client.dob" class="form-control" />
                    <span asp-validation-for="Client.dob" class="text-danger"></span>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <label asp-for="Client.age" class="control-label"></label>
                    <span asp-validation-for="Client.age" class="text-danger"></span>
                    <input id="age" asp-for="Client.age" class="form-control" />
                </div>
            </div><br style="line-height:5px;" />
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <label asp-for="Client.ssn" class="control-label"></label>
                    <input id="ssn" asp-for="Client.ssn" class="form-control" />
                    <span asp-validation-for="Client.ssn" class="text-danger"></span>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <label asp-for="Client.gender" class="control-label"></label>
                    <select asp-for="Client.gender" class="form-control">
                        <option value="" selected disabled>Select Gender</option>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Other</option>
                    </select>
                    <span asp-validation-for="Client.gender" class="text-danger"></span>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <label asp-for="Client.ZraceId" class="control-label"></label>
                    <select asp-for="Client.ZraceId" class="form-control" asp-items="@ViewBag.ZraceId">
                        <option value="" selected disabed>Select Race</option>
                    </select>
                    <span asp-validation-for="Client.ZraceId" class="text-danger"></span>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <label asp-for="Client.CredibleID" class="control-label"></label>
                    <span asp-validation-for="Client.CredibleID" class="text-danger"></span>
                    <input asp-for="Client.CredibleID" class="form-control" />
                </div>
            </div><br style="line-height:5px;" />
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <label asp-for="Client.address" class="control-label"></label>
                    <input asp-for="Client.address" class="form-control" />
                    <span asp-validation-for="Client.address" class="text-danger"></span>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <label asp-for="Client.city" class="control-label"></label>
                    <input asp-for="Client.city" class="form-control" />
                    <span asp-validation-for="Client.city" class="text-danger"></span>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <label asp-for="Client.state" class="control-label"></label>
                    <select asp-for="Client.state" class="form-control">
                        <option selected>PA</option>
                    </select>
                    <span asp-validation-for="Client.state" class="text-danger"></span>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <label asp-for="Client.zipcode" class="control-label"></label>
                    <input asp-for="Client.zipcode" class="form-control" />
                    <span asp-validation-for="Client.zipcode" class="text-danger"></span>
                </div>
            </div><br style="line-height:5px;" />


            <!--AHR add inc county-->
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <label asp-for="Client.ZcountyId" class="control-label"></label>
                    <select asp-for="Client.ZcountyId" class="form-control" asp-items="@ViewBag.ZcountyId">
                        <option value="" selected disabed>Select County</option>
                    </select>
                    <span asp-validation-for="Client.ZcountyId" class="text-danger"></span>



                </div>
                <div class="col-md-3 col-md-offset-1">

                </div>
                <div class="col-md-3 col-md-offset-1">

                </div>
                <div class="col-md-3 col-md-offset-1">

                </div>
            </div><br style="line-height:5px;" />
            <!--AHR End add inc county-->


            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <label asp-for="Client.phone" class="control-label"></label>
                    <input id="phone" asp-for="Client.phone" class="form-control" />
                    <span asp-validation-for="Client.phone" class="text-danger"></span>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <label asp-for="Client.email" class="control-label"></label>
                    <input asp-for="Client.email" class="form-control" />
                    <span asp-validation-for="Client.email" class="text-danger"></span>
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <label asp-for="Client.contact" class="control-label"></label>
                    <input asp-for="Client.contact" class="form-control" />
                    <span asp-validation-for="Client.contact" class="text-danger"></span>
                </div>
            </div><br style="line-height:5px;" />
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <label asp-for="Client.phone2" class="control-label"></label>
                    <input id="phone" asp-for="Client.phone2" class="form-control" />
                    <span asp-validation-for="Client.phone2" class="text-danger"></span>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <label asp-for="Client.email2" class="control-label"></label>
                    <input asp-for="Client.email2" class="form-control" />
                    <span asp-validation-for="Client.email2" class="text-danger"></span>
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <label asp-for="Client.contact2" class="control-label"></label>
                    <input asp-for="Client.contact2" class="form-control" />
                    <span asp-validation-for="Client.contact2" class="text-danger"></span>
                </div>
            </div><br style="line-height:5px;" /><hr /><br style="line-height:5px;" />
            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                    <div class="form-group">
                        <label asp-for="Client.ZinsuranceId" class="control-label"></label>
                        <select asp-for="Client.ZinsuranceId" class="form-control" asp-items="@ViewBag.ZinsuranceId">
                            <option value="" selected disabled>Select Insurance</option>
                        </select>
                        <span asp-validation-for="Client.ZinsuranceId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12 col-md-offset-1">
                    <div class="form-group">
                        <label asp-for="Client.ins_note" class="control-label"></label>
                        <textarea asp-for="Client.ins_note" class="form-control"></textarea>
                        <span asp-validation-for="Client.ins_note" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <div class="form-group">
                        <label asp-for="Client.insurance2" class="control-label"></label>
                        <select asp-for="Client.insurance2" class="form-control" asp-items="@ViewBag.ZinsuranceId">
                            <option value="" selected disabled>Select Insurance</option>
                        </select>
                        <span asp-validation-for="Client.insurance2" class="text-danger"></span>




                    </div>
                </div>
                <div class="col-md-12 col-md-offset-1">
                    <div class="form-group">
                        <label asp-for="Client.ins_other_note" class="control-label"></label>
                        <textarea asp-for="Client.ins_other_note" class="form-control"></textarea>
                        <span asp-validation-for="Client.ins_other_note" class="text-danger"></span>
                    </div>
                </div>
            </div><hr /><br style="line-height:5px;" />
            <div class="row">
                <div class="col-md-12 col-md-offset-1">
                    <div class="form-group">
                        <h4><label asp-for="Client.nextactionnote" class="control-label"></label></h4>
                        <textarea asp-for="Client.nextactionnote" class="form-control"></textarea>
                        <span asp-validation-for="Client.nextactionnote" class="text-danger"></span>
                    </div>
                </div>
            </div><br style="line-height:5px;" /><hr /><br style="line-height:5px;" />
        </div>
    </div>

    <div class="container" align="right">
        <a type="button" class="btn wfs-purple" asp-controller="ClientServices" asp-action="Create" asp-route-clientid="@Model.Client.ClientId">New Inquiry</a>
        <input type="submit" value="Save Client" class="btn wfs-green ml-1" />
        <a type="button" class="btn btn-secondary ml-1" asp-action="Index">Back to List</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
