@model IEnumerable<WCAProject.Models.Zyesno>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead class = "thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.yesno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class = "align-middle">
                @Html.DisplayFor(modelItem => item.yesno)
            </td>
            <td class = "align-middle">
                <a asp-action="Edit" asp-route-id="@item.ZyesnoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ZyesnoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ZyesnoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
